body {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    font-family: Noto Sans, sans-serif;
}

.left img {
    height: auto;
<<<<<<< HEAD
    width: 400px;
=======
    width: 600px;
>>>>>>> 9cd2d675ce9f7cf46b8235f693f242ac47056689
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-evenly;
}

fieldset {
    display: flex;
    border: 0;
    gap: 5vh;
}

label {
    font-size: 10px;
}

.first-name,
.last-name,
.email,
.phone-number,
.password,
.confirm-password {
    display: flex;
    flex-direction: column;
}