body {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    font-family: Noto Sans, sans-serif;
}

.left img {
    height: auto;
    width: 600px;
}

.right {
    display: flex;
    flex-direction: column;
}